body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(bg\ \(2\).jpg);
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    background-color: #7b7676;
}

.btn {
    background-color: rgb(221, 255, 247);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #f0f0f0;
}

.btn:active {
    background-color: #ddd;
}

#clear {
    grid-column: span 2;
}

#equals {
    grid-column: span 2;
}
